.espaco{
    padding-bottom: 50px;
}

li.active a{
    color: #fff !important;
    background-color: #7d1c18;
}

.numero{
    font-size: 17px !important;
    font-weight: 900 !important;
}

div.social{
    padding-top: 0 !important;
}

div.social img{
    width: 50px !important;
}

div.form-group.login input{
    width: 30% !important;
}

/* ícone editar */
i.fa-pencil-square ,
i.fa-times-circle{
    font-size: 25px !important;
    padding-right: 10px !important;
}